{% extends 'base/base.html'%}
{% load staticfiles %}

{% block content %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

<style>
    .change-font-size{
        font-size: 20px;
    }
</style>

<script>
    $(document).ready(function (){
        $("#button").attr("disabled", true);
        $("#confirm_password").on("keyup", function() {
            if($("#password").val() != $("#confirm_password").val()){
                $("#button").attr("disabled", true);
                $("#errors").attr('hidden',false);
            } else {
                $("#button").attr("disabled", false);
                $("#alert_message").text("Las contraseñas no coinciden");
                $("#errors").attr('hidden',true);
            }
        });
    });

    function getCookie(name) {
    var cookieValue = null;
    if (document.cookie && document.cookie !== '') {
        var cookies = document.cookie.split(';');
        for (var i = 0; i < cookies.length; i++) {
            var cookie = cookies[i].trim();
            // Does this cookie string begin with the name we want?
            if (cookie.substring(0, name.length + 1) === (name + '=')) {
                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                break;
            }
        }
    }
    return cookieValue;
    }

    function changePassword(){
        var password = $("#password").val();
        var csrftoken = getCookie('csrftoken');
        var userid = {{changePasswordUser.id}};


    $.ajax({
            type: "POST",
            url: '{% url 'home:ajax-change-user-password'%}',
            data: {
                "csrfmiddlewaretoken": csrftoken,
                "userid": userid,
                "password":password,
            },
            success: function(result){
                window.location.href = result.url;
            },
            error: function (XMLHttpRequest, textStatus, errorThrown) {
                console.log(errorThrown);
            }
        });

    }
</script>

<div class="container">
    <h3>Cambiar contraseña para usuario: <span class="badge badge-primary">{{changePasswordUser.username}}</span></h3>
    <div id="errors" class="alert alert-danger" hidden role="alert">
        <strong id="alert_message"></strong>
    </div>
    <div class="form-group">
    <label for="password" class="text change-font-size">Nueva contraseña</label>
    <input id="password" type="password" class="form-control change-font-size">
    <label for="confirm_password" class="text change-font-size">Confirmar contraseña</label>
    <input id="confirm_password" type="password" class="form-control change-font-size">
    </div>
    <button id="button" type="button" class="btn btn-primary change-font-size" onclick="changePassword();">Cambiar</button>
</div>
{% endblock %}