{% extends 'base/base.html'%}
{% load staticfiles %}
{% load widget_tweaks %}
{% block content %}

<script src="{% static 'js/jquery-3.3.1.js' %}"></script>

<style>
     .change-font-size{
        font-size: 20px;
     }


</style>

<script>
    $(document).ready(function() {
    $('.has-popover').popover({'trigger':'hover'});
});
</script>

<div class="container change-font-size">

    <form method="POST">
        {% csrf_token %}

        <div class="form-group">
            {{form.ratename.error}}
            {{form.ratename.label}}
            {{form.ratename}}
        </div>

        <div class="form-group">
            {{form.rateprice.error}}
            {{form.rateprice.label}}
            {{form.rateprice}}
        </div>

        <div class="form-group">
            {{form.ratetime.error}}
            {{form.ratetime.label}}
            {{form.ratetime}}
        </div>

        <button class="btn btn-primary change-font-size" type="submit">Guardar</button>
    </form>
</div>

{% endblock %}